<div class="container">
  <div class="topnav">
    <a href="#">Customer Register</a>
    <a href="#">Customer List</a>
    <a href="#">Customer Setting</a>
    <a href="#">Customer Register Import</a>
  </div> 
  <h4>Customer Biodata</h4>
  <form action="">
    <div class="row">
      <div>
        <input type="text"  placeholder="salesman ID"><br><br>
        <input type="text"  placeholder="Customer Name">
        <br><br>
        <input type="text"  placeholder="PIC">
        <br><br>
        <input type="text" placeholder="City">
        <br><br>
        <input type="text" placeholder="Remark">
        <br><br>
        <input type="text" placeholder="NPWP">
        <br><br>
        <input type="text" placeholder="Customer Price Category">
        <br><br>
      </div>
  
      <div>
        <input type="text" placeholder="Address"><br><br>
        <input type="text"  placeholder="Address Ke 2">
        <br><br>
        <input type="text" placeholder="Contact No">
        <br><br>
        <input type="text" placeholder="Region">
        <br><br>
        <input type="text" placeholder="Province">
        <br><br>
        <input type="text" placeholder="Kuota">
        <br><br>
        <input type="text" placeholder="Preferred Expedition">
      </div>
    </div>
  </form>
</div>
