<p>Admin CV. MACAN KEMBAR</p>
<mat-icon aria-hidden="false" class="material-icons orange600" aria-label="Example home icon">home</mat-icon>

<div>
  <div >
    <h4>Search</h4>
    <form>
      <input type="checkbox" value="Created time">
      <label > Created Time Mode</label><br>
      <input type="checkbox" value="Transaction time">
      <label > Transaction Time Mode</label><br><br>
      <input type="text"  placeholder="Voucher ID"><br><br>
      <input type="text"  placeholder="Remark"><br><br>
      <input type="submit" value="Search...">
    </form>
  </div>
  <div>
    <table style="width:70%">
      <tr>
        <th>Created Time</th>
        <th>Site</th> 
        <th>Order</th>
        <th>Product ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td>PRODUK-PL0071-S-ABU TUA</td>
        <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td>PRODUK-PL0019-L-WARNA LAIN 1</td>
        <td>SWEATHER HOODIE JEMPER SOMETHING UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td>SWEATHER HOODIE JEMPER SOMETHING UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td>PRODUK-PL0019-L-WARNA LAIN 1</td>
        <td>SWEATHER HOODIE JEMPER SMILE UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td>SWEATHER HOODIE JEMPER SMILE UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td>PRODUK-PL0019-L-ARMY</td>
        <td>SWEATHER HOODIE JEMPER MEW MEW UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td>SWEATHER HOODIE JEMPER MEW MEW UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td>PRODUK-PL0019-M-WARNA LAIN 3</td>
        <td>SWEATHER HOODIE JEMPER HIJAB UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td>SWEATHER HOODIE JEMPER HIJAB UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td>PRODUK-PL0019-M-BABYPINK</td>
        <td>SWEATHER HOODIE JEMPER POLOS DISTRO PART 1 UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td>SWEATHER HOODIE JEMPER POLOS DISTRO PART 1 UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td>PRODUK-PL0019-S-BABYPINK</td>
        <td>SWEATHER HOODIE JEMPER POLOS DISTRO PART 1 UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td>SWEATHER HOODIE JEMPER POLOS DISTRO PART 1 UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td></td>
        <td>DISKON 12.12 Tunik DOMBA Kancing MAtt Babyterry Import BEST SELLER</td>
        <td>DISKON 12.12 Tunik DOMBA Kancing MAtt Babyterry Import BEST SELLER</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td>PRODUK-PL0019-XL-WARNA LAIN 2</td>
        <td>SWEATHER HOODIE JEMPER POLOS DISTRO BTS UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td>SWEATHER HOODIE JEMPER POLOS DISTRO BTS UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>GUDANG</td>
        <td></td>
        <td>PRODUK-PL0019-L-WARNALAIN3</td>
        <td>SWEATHER HOODIE JEMPER POLOS DISTRO PART 1 UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td>SWEATHER HOODIE JEMPER POLOS DISTRO PART 1 UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
        <td></td>
      </tr>
    </table>
    <mat-paginator 
      [length]="8905"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>

